<!-- Only display the FAB if there are one of more datasources registered -->
<ng-container *ngIf="dataSourceService.dataSources$.value.length > 0">
  <button class="new-log-entry" mat-fab color="accent" matTooltip="Log an activity" [matMenuTriggerFor]="newActivityMenu">
    <mat-icon>post_add</mat-icon>
  </button>
  <mat-menu #newActivityMenu="matMenu" class="fab-menu">
    <button mat-menu-item *ngFor="let category of logEntryCategories" (click)="openNewEntryDialog(category[0], category[1])">
      <mat-icon color="primary" [svgIcon]="category[1].icon"></mat-icon>
      <span>{{category[1].name}}</span>
    </button>
  </mat-menu>
</ng-container>
