<form [formGroup]="settingsForm">
  <div class="field">
    <div class="label">
      <mat-label>Blood glucose unit</mat-label>
      <mat-icon class="context-help">help_outline</mat-icon>
    </div>
    <mat-radio-group formControlName="bglUnit">
      <mat-radio-button [value]="bglUnit.MmolL">mmol/L</mat-radio-button>
      <mat-radio-button [value]="bglUnit.MgDl">mg/dL</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="field">
    <div class="label">
      <mat-label>Time format</mat-label>
      <mat-icon class="context-help">help_outline</mat-icon>
    </div>
    <mat-radio-group formControlName="timeFormat">
      <mat-radio-button [value]="timeFormat.TwelveHour">12-hour</mat-radio-button>
      <mat-radio-button [value]="timeFormat.TwentyFourHour">24-hour</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="field range" formGroupName="targetBglRange">
    <div class="label">
      <mat-label>Target blood glucose range</mat-label>
      <mat-icon class="context-help">help_outline</mat-icon>
    </div>
    <mat-form-field>
      <input matInput placeholder="Low" type="number" formControlName="min" min="3" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="High" type="number" formControlName="max" max="15" required>
    </mat-form-field>
    <mat-error *ngIf="targetBglRangeMin.errors">Invalid low range value</mat-error>
    <mat-error *ngIf="targetBglRangeMax.errors">Invalid high range value</mat-error>
  </div>
</form>
