<div class="dashboard-container">
  <mat-progress-bar class="page-loading" mode="indeterminate" color="accent" *ngIf="loading$ | async"></mat-progress-bar>
  <ng-container *ngIf="bglHistogramChartOptions$ | async; else noData; let chartOptions">
    <button class="options" mat-flat-button [matMenuTriggerFor]="optionsMenu" aria-label="Button that opens the Dashboard menu">
      <mat-icon>settings</mat-icon>
      <span class="caption">Options</span>
    </button>
    <mat-menu #optionsMenu="matMenu">
      <ng-template matMenuContent>
        <app-dashboard-settings></app-dashboard-settings>
      </ng-template>
    </mat-menu>
    <div class="chart-container">
      <highcharts-chart #bglChart [options]="chartOptions"></highcharts-chart>
    </div>
    <div class="activity-log-container">
      <app-activity-log-list *ngIf="userService.userPreferences$ | async; let userPrefs" [dateFrom]="dashboardSettingsService.getDateFrom()"></app-activity-log-list>
    </div>
    <app-new-activity-log-entry-fab></app-new-activity-log-entry-fab>
  </ng-container>
  <ng-template #noData>
    <div class="no-datasource-container">
      <div class="no-datasource">
        <mat-icon>link_off</mat-icon>
        <h1>No data</h1>
        <p>Monitoring blood glucose readings requires a valid data source to be registered.</p>
        <p>Open the <em>Data Sources</em> section of <a [routerLink]="['/preferences']">User preferences</a>.</p>
      </div>
    </div>
  </ng-template>
</div>
