<div class="dashboard-container">
  <mat-progress-bar class="page-loading" mode="indeterminate" color="accent" *ngIf="loading$ | async"></mat-progress-bar>
  <ng-container *ngIf="bglHistogramChartOptions$ | async; else noData; let chartOptions">
    <button class="options" mat-flat-button [matMenuTriggerFor]="optionsMenu" aria-label="Button that opens the Dashboard menu">
      <mat-icon>settings</mat-icon>
      <span class="caption">Options</span>
    </button>
    <mat-menu #optionsMenu="matMenu">
      <div class="form-container" (click)="$event.stopPropagation()">
        <form [formGroup]="settingsForm">
          <div formGroupName="bglStatsHistogram">
            <div class="field">
              <div class="label">
                <mat-label>Time range</mat-label>
                <mat-icon class="context-help" matTooltip="Period of time to include in the plot">help_outline</mat-icon>
              </div>
              <mat-form-field>
                <mat-select formControlName="timeRangeHours">
                  <mat-option [value]="1">1 hour</mat-option>
                  <mat-option [value]="2">2 hours</mat-option>
                  <mat-option [value]="3">3 hours</mat-option>
                  <mat-option [value]="6">6 hours</mat-option>
                  <mat-option [value]="12">12 hours</mat-option>
                  <mat-option [value]="24">1 day</mat-option>
                  <mat-option [value]="24*7">1 week</mat-option>
                  <mat-option [value]="24*14">2 weeks</mat-option>
                  <mat-option [value]="24*30">30 days</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="field">
              <div class="label">
                <mat-label>Plot colour</mat-label>
              </div>
              <mat-radio-group formControlName="plotColour">
                <mat-radio-button [value]="plotColour.Uniform">Uniform</mat-radio-button>
                <mat-radio-button [value]="plotColour.ScaledByBgl">Scaled by BGL</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="field plot-options">
              <div class="label">
                <mat-label>Plot options</mat-label>
              </div>
              <mat-checkbox formControlName="activityLog">Activity log</mat-checkbox>
              <mat-checkbox formControlName="dataLabels">Data labels</mat-checkbox>
            </div>
          </div>
        </form>
      </div>
    </mat-menu>
    <div class="chart-container">
      <highcharts-chart #bglChart [options]="chartOptions"></highcharts-chart>
    </div>
    <div class="activity-log-container">
      <app-activity-log-list *ngIf="userService.userPreferences$ | async" [dateFrom]="getDateFrom()"></app-activity-log-list>
    </div>
    <app-new-activity-log-entry-fab></app-new-activity-log-entry-fab>
  </ng-container>
  <ng-template #noData>
    <div class="no-datasource-container">
      <div class="no-datasource">
        <mat-icon>link_off</mat-icon>
        <h1>No data</h1>
        <p>Monitoring blood glucose readings requires a valid data source to be registered.</p>
        <p>Open the <em>Data Sources</em> section of <a [routerLink]="['/preferences']">User preferences</a>.</p>
      </div>
    </div>
  </ng-template>
</div>
