@use '~@angular/material' as mat;
@import '../theme';
@import '../media-rules';

@include mat.all-component-themes($diatrack-theme);

.page {
    padding: 20px 20px;
    overflow-y: auto;

    & > h1 {
        color: $heading-1-color;
    }
}

form {
    .label {
        padding-bottom: 8px;

        label, mat-label {
            color: $heading-2-color;
            margin-bottom: 15px;
        }
    }
}
