@use '~@angular/material' as mat;
@import '../theme';

@include mat.all-component-themes($diatrack-theme);

.page {
    padding: 20px 20px;

    & > h1 {
        color: #e37670;
    }
}

form {
    label {
        color: mat.get-color-from-palette($diatrack-accent, 800);
    }
}
