<div class="page">
  <div class="content">
    <div class="banner">
      <img src="/assets/images/diatrack-banner.png" alt="Diatrack banner" height="60" />
    </div>
    <h1>Introduction</h1>
    <p>Before we begin, please note that use of Diatrack is subject to certain <a [routerLink]="['terms']">terms and conditions</a>.</p>
    <p>Also note that the App is not officially endorsed by Dexcom and you should consider any information provided by Diatrack to be advisory only and not solely base treatment decisions on it.
      Diatrack is provided on an "as-is" basis, with no warranty or guarantees, either implied or otherwise.</p>
    <p>Please review our <a [routerLink]="['privacy']">Privacy Policy</a> for information on what data we store about you and how it may be used.</p>
    <h1>Getting Started</h1>
    <p>To get started, let's connect to your Dexcom continuous glucose monitoring (CGM) account.</p>
    <p>This will enable Diatrack to continuously download your CGM data, so it's available to you whenever you're using this app.</p>
    <h2>Connect to a datasource</h2>
    <p>See the video below for a walkthrough of how to connect to your CGM provider (currently only Dexcom G5/G6 are supported).</p>
    <p>Note the <em>Geographic region</em> setting. This is important and you will not be able to connect successfully if you choose the wrong one. If you're in the United States, select the <em>US</em> option. Otherwise your region will be <em>EU</em>.</p>
    <img class="video" src="/assets/howto/create-datasource.gif" alt="Video showing how to register a datasource" />
    <p>&nbsp;</p>
  </div>
</div>
