<div class="page">
  <div class="content">
    <div class="banner">
      <img src="/assets/images/diatrack-banner.png" alt="Diatrack banner" height="60" />
    </div>
    <h1>Terms of Use</h1>
    <h2>1. Introduction</h2>
    <p>This document sets out the terms ("the Terms") of use for all users of the Diatrack web application ("the Service"). Please read these carefully as by using this product, you agree to comply with the Terms. If you do not agree with these conditions, you must cease use of the Service.</p>
    <h2>2. Changes to these Terms</h2>
    <p>We (Gradata Systems Pty Ltd, "the Developer") reserve the right to make changes to the Terms from time to time and will take reasonable steps to notify you if and when this occurs. Your continued use of the Service constitutes acceptance of the most recent Terms, as published by the Developer.</p>
    <h2>3. Contact information</h2>
    <p>For further information about the Terms or to provide feedback, please contact the Developer via email at: <a href="mailto:diatrack@gradata.com.au">diatrack@gradata.com.au</a>.</p>
    <h2>4. Privacy</h2>
    <p>The Developer respects your right to privacy. Our <a [routerLink]="['/privacy']">Privacy Policy</a> details how your information is used when you use the Service. By using the Service, you're agreeing that we can process your information in the ways set out in the Privacy Policy.</p>
    <h2>5. Registration requirements</h2>
    <p>User authentication is managed via an external provider (Azure Active Directory). Users log in using external accounts they own, or have access to. You must ensure you are, and remain in, compliance with the terms of service of the applicable account provider(s) you choose to use when logging on to the Service. It is your responsibility to protect and safeguard your own login credentials.</p>
    <p>You may during the course of using the Service, enter the account credentials for third party providers, such as continuous glucose monitoring services. These credentials are stored securely on systems under control of the Developer and are not accessible to you, or other users once entered. It is your responsibility to keep these credentials safe and to comply with each data provider's terms of service. The Developer shall not be liable for any damages caused by the disclosure or compromise of account credentials. By using the Service and choosing to enter account details of your data provider(s), you consent to the Developer and/or the Service retrieving information from information systems operated by the data provider(s), on your behalf.</p>
    <h2>6. Account termination</h2>
    <p>The Developer reserves the right to suspend or terminate your account:</p>
    <ol>
      <li>in the event of a breach of the Terms,</li>
      <li>if it remains inactive for an extended period of time, or</li>
      <li>upon request.</li>
    </ol>
    <p>If an account is terminated, the Developer may remove any and all content related to that account, from the Developer's computer systems.</p>
    <h2>7. Restricted user behaviour</h2>
    <p>You agree not to use the Service:</p>
    <ol>
      <li>for any unlawful purposes;</li>
      <li>to upload, post, or otherwise transmit any material that is obscene, offensive, blasphemous, pornographic, unlawful, threatening, menacing, abusive, harmful, an invasion of privacy or publicity rights, defamatory, libelous, vulgar, illegal or otherwise objectionable;</li>
      <li>to upload, post or otherwise transmit any material that infringes any copyright, trade mark, patent or other intellectual property right or any moral right of any third party including, but not limited to, Gradata Systems Pty Ltd or to facilitate the unlawful distribution of copyrighted content or illegal content;</li>
      <li>to access, or cause the Service to access, third party account data for which you have no legal or moral right and/or authority to access;</li>
      <li>to upload, post or otherwise transmit any material that is likely to cause harm to the Developer's or any other party's computer systems, including but not limited to that containing any virus, code, work, data or other files or programs designed to damage or allow unauthorised access to the Service, which may cause any defect, error, malfunction or corruption to the Service; or</li>
      <li>for any commercial purpose, except as expressly permitted under the Terms;</li>
    </ol>
    <h2>8. Disclaimer</h2>
    <p>The Developer does not guarantee that:</p>
    <ol>
      <li>the Service will be secure or available at any particular time or location;</li>
      <li>the Service will be free from defect, or that any such defects will be corrected;</li>
      <li>information provided via the Service is true, timely and/or accurate; or</li>
      <li>the Service will meet your expectations.</li>
    </ol>
    <p>The Service is provided to you "as-is", without warranty. You agree to use the Service at your own risk. You also accept that the Developer is not responsible or liable for any damages arising from use of the Service, or from treatment decisions you make on behalf of yourself or those under your care.</p>
    <p>While necessary precautions are taken to prevent loss, damage or alteration of information on third-party information systems (like Dexcom), the Developer assumes no liability for loss, damage or alteration arising from any malfunction, unexpected behavior or fault involving the electronic interface(s) the Service uses to request information on your behalf.</p>
    <p>You should seek professional medical advice before making any treatment decisions arising from information provided by the Service. You should also rely on officially supported devices and software, such as Dexcom Share and Dexcom Follow, to make treatment decisions and monitor blood glucose levels. Your use of the Service is acknowledgement that the Service is no substitute for any officially-supported products and should not be considered a medical aid.</p>
  </div>
</div>
