<div class="status-bar-container">
  <div class="status-bar">
    <div class="bgl-stats">
      <ng-container *ngIf="bglStatsService.bglStatus$ | async; let bglStatus">
        <div class="bgl">
          <span class="reading" matTooltip="Most recent blood glucose reading">{{bglStatus.bgl !== undefined ? (getScaledBgl(bglStatus.bgl) | async | number:'1.1-1') : '---'}}</span>
          <span class="units">{{userService.getUserBglUnitDisplayValue() | async}}</span>
        </div>
        <div class="trend-arrow" *ngIf="bglStatus.trend && appIconService.getBglTrendIconUrl(bglStatus.trend)" matTooltip="Blood glucose trend arrow">
          <mat-icon [svgIcon]="bglStatus.trend"></mat-icon>
        </div>
        <div class="stats">
          <div class="delta" matTooltip="Amount changed since the previous reading">{{getDeltaDisplayValue(bglStatus) | async}}</div>
          <div class="last-reading" [matTooltip]="getLastReadingFullDate(bglStatus)">{{getLastReadingDisplayValue(bglStatus)}}</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
