@use '~@angular/material' as mat;
@import '../theme';

@include mat.all-component-themes($diatrack-theme);

$status-bar-height: 100px;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.status-bar-container {
  height: $status-bar-height;
  width: 100%;
  text-align: center;
  position: relative;
  background-color: mat.get-color-from-palette($diatrack-primary, 700);

  .status-bar {
    width: 100%;
  }
}

.account-container {
  position: absolute;
  top: 0;
  right: 0;
}
