<div class="status-bar-container">
  <div class="status-bar">
    <span>BGL 5.0</span>
<!--    <p>App config: {{(appConfigService.appConfig$ | async)?.publicOidcEndpoint}}</p>-->
  </div>
</div>
<div class="account-container">
  <div class="account">
    <ng-container *ngIf="user">
      <mat-icon>account_circle</mat-icon>
      <div class="info">
        <div class="name">{{user.name}}</div>
        <div class="email">{{user.emailAddress}}</div>
        <a href="#" (click)="authService.logOut()">Sign out</a>
      </div>
    </ng-container>
    <ng-container *ngIf="!user">
      <button mat-raised-button color="primary" (click)="authService.logIn()">Sign In</button>
    </ng-container>
  </div>
</div>
