@use '~@angular/material' as mat;
@import '../theme';
@import '../media-rules';

@include mat.all-component-themes($diatrack-theme);

$navbar-min-width: 62px;
$navbar-icon-size: 1.2em;
$button-spacing: 15px;

.container {
    display: block;
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: mat.get-color-from-palette($diatrack-primary, 900);
    border-right: solid 1px black;

    &.expanded {
        .navbar {
            display: flex;

            .buttons {
                .menu-button .caption {
                    display: inline-block;
                    margin-left: 15px;
                }
            }
        }

        @media (max-width: $media-phone-portrait-breakpoint) {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
        }
    }

    @media (max-width: $media-phone-portrait-breakpoint) {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: normal;
        padding-top: 90px;
        padding-bottom: 5px;
        width: 100%;
        height: 100%;

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: normal;
            height: 100%;
            padding: 0 10px;

            .menu-button {
                display: block;
                width: 100%;
                height: 45px;
                line-height: 45px;
                text-align: left;
                padding: 0 20px;
                font-size: $navbar-icon-size;
                background-color: transparent;
                border-radius: 100px;

                &.active {
                    color: mat.get-color-from-palette($diatrack-accent);
                    background-color: rgba(255, 255, 255, 0.1);
                }

                .caption {
                    display: none;
                    font-weight: normal;
                    font-size: 0.9em;
                }
            }

            .menu-buttons {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding-top: 15px;
                gap: $button-spacing;
            }

            .footer-buttons {
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
                gap: $button-spacing;
            }
        }
    }
}

$avatar-size: 50px;
$max-account-info-width: 150px;

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 10px 20px;

    mat-icon {
        font-size: $avatar-size;
        width: $avatar-size;
        height: $avatar-size;
        margin-right: 15px;
        cursor: default;
    }

    .info {
        max-width: $max-account-info-width;

        .name {
            font-size: 1.1em;
            font-weight: 500;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .email {
            font-size: 0.9em;
            opacity: 0.8;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        a {
            display: block;
            margin-top: 2px;
        }
    }
}
