@use '@angular/material' as mat;
@import '../theme';

.page {
    position: relative;
    padding: 20px 20px;
    height: 100%;

    & > .content {
        max-width: 800px;
        margin: auto;
        height: 100%;

        .body {
            height: 100%;
            display: flex;
            position: relative;

            app-activity-log-list {
                height: 100%;
            }
        }
    }

    .banner {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .link-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px 20px;
        padding: 15px 60px 0 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border: solid 1px rgba(255, 255, 255, 0.2);
        border-radius: 5px;

        h1 {
            color: #FFF;
            font-size: 1.4em;
        }

        a:hover {
            text-decoration: underline;
        }

        mat-icon {
            font-size: 15px;
            line-height: 15px;
            margin-left: 5px;
        }
    }

    h1 {
        color: $heading-1-color;
        margin-top: 1em;
    }

    h2 {
        color: $heading-2-color;
        font-size: 1.2em;
    }

    h3 {
        color: $heading-3-color;
        font-size: 1.1em;
    }
}

mat-progress-bar.page-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.hidden {
        display: none;
    }
}

form {
    .label {
        padding-bottom: 8px;

        label, mat-label {
            color: $heading-2-color;
            margin-bottom: 15px;
        }
    }
}

a {
    color: mat.get-color-from-palette($diatrack-hyperlink);
    text-decoration: none;
}

p, li {
    opacity: 0.85;
    font-size: 1.1em;
    line-height: 1.6em;
}
